.banner{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
   }
  
  .banner div {
    flex: 1 1 500px;
    display: block;
    padding: 10px;
   } 

  .banner p{
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
  }

  .banner section{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #882AA5;
    box-sizing: border-box; 
    border-radius: 10px;
    color: #882AA5;
    align-items: center;
  } 

  .banner #lojagoogle{
    width: 46px;
    height: 46px;
    padding: 16px;
  }
  
 #casallgbt{
   max-width: 100%;
  } 
  
  .banner figure{
     font-size: 25px;
  }

  figcaption{
    background-color: #FFDD00;
    border: 2px solid #FFDD00;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    position: relative;
    bottom: 50px;
    left: -20px;
  }
  