.banner{
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
   }
  
  .banner div {
    flex: 1 1 500px;
    padding: 10px;
   } 

  .banner p{
    font-size: 36px;
    line-height: 42px;
    padding: 10px 0px;
  }

  .banner section{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #882AA5;
    box-sizing: border-box; 
    border-radius: 10px;
    color: #882AA5;
    align-items: center;
    max-width: 400px;
}

  .banner #lojagoogle{
    width: 46px;
    height: 46px;
    padding: 16px;
  }

  .banner p{
  font-size: 30px;
  }
  
 #casallgbt{
    max-width: 578px;
    max-height: 336px;
  } 
  
  .banner figure{
     font-size: 25px;
  }

  figcaption{
    background-color: #FFDD00;
    border: 2px solid #FFDD00;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
  }
   